@import './base.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-weight: normal;
}

#app {
  min-height: 100vh;
}

:root {
  --color-primary: #42b983;
  --color-primary-hover: #35a372;
  --color-text-secondary: #666;
}
